.targetingBox {
  translate: -50% -50%;
  position: relative;
  margin: unset;
}

.targetingBox:popover-open {
  width: 10px;
  height: 10px;
  border: 4px solid #59bcc8;
  border-radius: 50%;
  background-color: transparent;
}

.selectionBox {
  translate: 5% 5%;
  position: relative;
  margin: unset;
}

.selectionBox:popover-open {
  border: none;
  background-color: transparent;
}

.ul {
  margin: 3px;
  padding: 1px;
}

.buttons {
  margin: 3px;
}
